<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="reader.css">
    </head>
    <body>
        <script src="script.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://unpkg.com/vue@next"></script>

        <div id="header" class="header">
            Project Neural Cloud Story Text Reader 
        </div>
        <div id="warning" class="warning" onclick="this.style.display = 'none'">
            PNC Text Reader is currently under development. The interface and features may receive great changes in the future. If you have any issues or feedbacks please summit it 
            <a href="https://github.com/050644zf/PNCTextReader/issues">here.</a></br>
            </br>
            <b>Click this message to remove it.</b>
        </div>
        
        <span class="material-icons topButton" onclick="document.getElementById('storydata').scrollIntoView({behavior: 'smooth', block:'center'})">vertical_align_top</span>

        <div id='content' class="content">

            <div id="list-rendering">
                <div class="storydata" id="storydata">
                    {{data.eventName}}  {{data.storyCode}}  {{data.avgTag}}  {{data.storyName}}
                </div>
                  <div v-for="(line, lidx) in showList" :key="'line'+lidx" class="line" :id="'line'+lidx">
                    <a :href="getURL(lang,path,line.id)" class="linkButton material-icons">link</a>
                      <div v-if="line.prop == 'name'" class="textblock">
                          <div class="nameblock">{{line.attributes.name}}</div>
                          <div class="contentblock">{{line.attributes.content}}</div>
                      </div>
                      <div v-if="line.prop == 'Subtitle'" :class="line.prop" :style="{'text-align': line.attributes.alignment}">
                          {{line.attributes.text}}
                      </div>
                      <div v-if="line.prop == 'Decision'" :class="line.prop">
                          <div v-for="(option, index) in line.attributes.values" class="option" @click="loadNode(line, option, 'line'+lidx)" @mouseover="changeColor(line.targetLine['option'+option],'rgba(255,255,255,0.4)')" @mouseout="changeColor(line.targetLine['option'+option],'rgba(0,0,0,0.4)')">
                              {{line.attributes.options[option]}}
                          </div>
                      </div>


                      <img v-if="line.prop == 'Image' && line.attributes.image" class="Image" :src="'https://aceship.github.io/AN-EN-Tags/img/avg/images/'+line.attributes.image+'.png'"></img>
                      
                      <div style="clear: both;"></div>
                  </div>
            </div>
        </div>
        <div id="sidebar">
            <div :class="{menuButton:true,'material-icons':true,menuButtonR:showMenu}" @click="showMenu=!showMenu;">chevron_right</div>
            <div :class="{sidebar:true, sidebarhidden:!showMenu}" >

                <eventmenu v-for="(event,eventid, Eidx) in data" class="event" :id="eventid" :event="event" :eventid="eventid"  :lang="lang" @hidemenu="showMenu=false"></eventmenu>
            </div>
        </div>

        <script type="text/x-template" id="eventmenu">
            <div class="event">
                <div :class="{eventname:true, eventnamehl:!collapsed}" @click="collapsed = !collapsed" >{{eventid}}</div>
                <div class="stories" v-show="!collapsed">
                    <storymenu v-for="(story,storyid, STidx) in event" :story="story" :lang="lang" :storyid="storyid" @unfoldevent="collapsed = false"></storymenu>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="storymenu">

            <div :class="{story:true, storyFocused:focused}" :id="story.storyId" @click="loadStory(lang, story.storyTxt, showMenu)">
                <div class="storycode">{{story.storyCode}}  {{story.avgTag}} </div>
                <div class="storyname">{{story.name}}</div>
            </div>

        </script>

        <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            var l = urlParams.get('l')
            if(!l){l = 'zh-CN'}

            
            function focus(){
                var foc = document.getElementsByClassName('storyFocused')[0];
                if(foc){
                    foc.scrollIntoView({behavior: "smooth", block: "center"});
                }
                console.log('focused!')
            }



            const lr = Vue.createApp({
                data(){
                    return{
                        data: {},
                        path: urlParams.get('f'),
                        lang: l,
                        showList: [],
                        currentNode: null,
                        updatedNode: null
                    }
                },
                updated(){
                    this.updateNode()
                },
                /*updated(){
                    if(urlParams.get('warp')){
                        var tgt = document.getElementById(urlParams.get('warp'));
                        if(tgt){
                            tgt.scrollIntoView({behavior: "smooth", block: "center"});
                            tgt.style.setProperty("background-color", '#f4433633');
                        }
                    };
                    focus();
                },*/
                methods:{
                    jumpTo(id){
                        var optLine = document.getElementById(id);
                        optLine.scrollIntoView({behavior: "smooth", block: "center"});
                    },
                    changeColor(id,color){
                        var optLine = document.getElementById(id);
                        setInterval(optLine.style.setProperty("background-color", color),500);
                    },
                    getURL(l,path,line){
                        return '?l=' + l + '&f=' + path + '&warp=line' + line;
                    },
                    loadNode(decNode,option=null, id){
                        this.currentNode = 'node'+decNode['targetLine'][option];
                        if(decNode.disableSelected){
                            var oidx = decNode['attributes']['values'].indexOf(option);
                            if (oidx > -1) {
                                this.data[decNode.id]['attributes']['values'].splice(oidx, 1);
                            }      
                        }
                        this.updateNode();
                    },
                    updateNode(){
                        if(!this.currentNode){
                        this.currentNode = 'node1';
                        }
                        if(this.updatedNode != this.currentNode){
                            var node = this.data[this.currentNode];
                            this.updatedNode = this.currentNode;
                        }
                        if(node){
                            const nodeCopy = JSON.parse(JSON.stringify(node))
                            this.showList.push(nodeCopy);
                            if(node.prop == 'Decision'){
                                if(!node['attributes']['values'].length){
                                    this.currentNode = 'node' + node['targetLine']['finalAct'];
                                }
                            }
                            else{
                                this.currentNode = 'node' + node['nextId'];
                            }
                        }
                        window.scrollBy(0,200);
                    }
                }
            });
            const storylist = lr.mount('#list-rendering');

            
            const sdb = Vue.createApp({
                data(){
                    return{
                        data: {},
                        lang: l,
                        sl: storylist,
                        showMenu: true
                    }
                },
                components:{
                    eventmenu:{
                        template:'#eventmenu',
                        props:['event','eventid','lang','showMenu'],
                        emits:['hidemenu','focusStory'],
                        data(){
                            return{
                                collapsed: true
                            }
                        },
                        components:{
                            storymenu:{
                                template:'#storymenu',
                                props:['event','eventid','lang','story','storyid'],
                                emits:['hidemenu','focusstory','unfoldevent'],
                                data(){
                                    return{
                                        focused: false
                                    }
                                },
                                mounted(){
                                    if(urlParams.get('f') == this.storyid){
                                        this.focused = true;
                                        this.$emit('unfoldevent');
                                    }
                                },
                                methods:{
                                    loadStory(sl, lang, path){
                                        window.location.search = 'f=' + this.storyid;
                                    }
                                }
                            }
                        }
                    }

                }
            })
            const menu = sdb.mount('#sidebar');
            $.getJSON('https://050644zf.github.io/PNCTextReader/PNCStoryJson/zh-CN/menu.json').done(function(s){menu.data = s;})
            
            if(urlParams.get('f')){
                $.getJSON("https://050644zf.github.io/PNCTextReader/PNCStoryJson/zh-CN/lua/AvgConfig/"+urlParams.get('f')+'.json').done(function(s){storylist.data = s;}).fail(function(){storylist.data = {eventName: 'Error on loading json file: '+ urlParams.get('f') + '!'};});
            }
            

        </script>
              

        

    </body>
</html>